a { text-decoration: none; } 
a:link { color: maroon; }
a:visited { color: gray; }
a:focus { color: maroon; background-color: #ffd9d9; }
a:hover { color: maroon; background-color: #ffd9d9; }
a:active { color: red; background-color: #ffd9d9; }
li:first-child{
    color: red;
}
input:checked + label {
    color: red;
}
input[type="checkbox"]:checked {
    box-shadow: 0 0 0 3px hotpink;
}
p::first-line {
    color: red;
}
p::first-letter {
    color: white;
    background-color: #333;
    border-radius: 2px;
    font-size: 200%;
    box-shadow: 3px 3px 0 yellow;
    padding: 6px 3px;
    margin-right: 5px;
}
p::before {
    content: "Đọc thêm: ";
    color: red;
    font-weight: bold;
  }
  p::after {
    content: "(Kết thúc)";
    color: red;
    font-weight: bold;
  }
  img[title] {border: 3px solid aqua;}
  img[title="hihi"] {border: 3px solid greenyellow;}
  img[title="love"] {border: 3px solid turquoise;}
  img[src^="/images/icons"] {border: 3px solid violet;}
  img[src^=".jpg"] {border: 3px solid lawngreen;}
  img[title*="tr"] {border: 3px solid;}